# Gather

- Twitter Archive Enhanced downloaded from Resources, saved as twitter-archive-enhanced.csv

- Image Predictions downloaded programmatically from Udacity using the Requests library, saved as image-predictions.tsv

- JSON data for every tweet in the archive downloaded programmatically using the Tweepy library and Twitter API, saved as tweet_json.txt

# Assess

- Visually

- Programmatically

- Detect and document EIGHT Quality issues and TWO tidiness issues (must satisfy the Project Motivation Key Points)

## Key Points:

- You only want original ratings (no retweets) that have images. Though there are 5000+ tweets in the dataset, not all are dog ratings and some are retweets.
- Assessing and cleaning the entire dataset completely would require a lot of time, and is not necessary to practice and demonstrate your skills in data wrangling. Therefore, the requirements of this project are only to assess and clean at least 8 quality issues and at least 2 tidiness issues in this dataset.
- Cleaning includes merging individual pieces of data according to the rules of tidy data.
- The fact that the rating numerators are greater than the denominators does not need to be cleaned. This unique rating system is a big part of the popularity of WeRateDogs.
- You do not need to gather the tweets beyond August 1st, 2017. You can, but note that you won't be able to gather the image predictions for these tweets since you don't have access to the algorithm used.

# Clean

- Clean data and place in Pandas dataframe

# Storing, Analyzing, and Visualizing Data

- Store the clean dataframes in CSV file(s), the main file named twitter_archive_master.csv

- Optionally, store the data in a SQLite database (submit if it exists)

- Analyze and Visualize data in the wrangle_act notebook

In [1]:
'''Import required libraries'''

import json
import os
import pandas as pd
import requests
import seaborn as sb
import tweepy

In [2]:
'''Use the Requests library to download the image-predictions TSV file from Udacity. Uncomment to run'''

# r = requests.get('https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv')
# print(r.status_code)

# with open('image-predictions.tsv', 'w') as outfile:
#     outfile.write(r.text)

'Use the Requests library to download the image-predictions TSV file from Udacity. Uncomment to run'

In [3]:
'''Use the Tweepy library and Twitter API to download extended data for the tweets in the archive. Uncomment to run'''

# CONSUMER_KEY = os.environ.get('CONSUMER_KEY')
# CONSUMER_SECRET = os.environ.get('CONSUMER_SECRET')
# ACCESS_TOKEN = os.environ.get('ACCESS_TOKEN')
# ACCESS_SECRET = os.environ.get('ACCESS_SECRET')

# auth = tweepy.OAuthHandler(CONSUMER_KEY, CONSUMER_SECRET)
# auth.set_access_token(ACCESS_TOKEN, ACCESS_SECRET)

# api = tweepy.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)

# tweet_df = pd.read_csv('twitter-archive-enhanced.csv')
# tweets_ids = list(tweet_df.tweet_id)

# def get_tweets(tweet_ids):
#     '''Function to take tweet IDs in list form and create a dictionary to pass as JSON to a .txt file'''

#     nonexistent = list()
#     tweets = dict()
#     for tweet_id in tweet_ids:
#         print(tweet_id)
#         try:
#             twt = api.get_status(tweet_id, tweet_mode='extended')
#             tweets[tweet_id] = twt._json
#         except tweepy.TweepError:
#             nonexistent.append(tweet_id)
#     print(nonexistent)
#     return tweets

# t = get_tweets(tweets_ids)

# with open('tweet_json.txt', 'w') as outfile:
#     json.dump(t, outfile)

'Use the Tweepy library and Twitter API to download extended data for the tweets in the archive. Uncomment to run'

In [4]:
df = pd.read_csv('twitter-archive-enhanced.csv')
df_image = pd.read_csv('image-predictions.tsv', sep='\t')
df_tweet_info = pd.read_json('tweet_json.txt', dtype={'Index': str}).T
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [5]:
# df.loc[df['retweeted_status_id'].notna()].source.value_counts()
df['source'].value_counts()

<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>     2221
<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>                          91
<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>                       33
<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>      11
Name: source, dtype: int64

In [6]:
df_image

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True
...,...,...,...,...,...,...,...,...,...,...,...,...
2070,891327558926688256,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2,basset,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True
2071,891689557279858688,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,paper_towel,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False
2072,891815181378084864,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True
2073,892177421306343426,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False

In [7]:
df_tweet_info

,created_at,id,id_str,full_text,truncated,display_text_range,entities,extended_entities,source,in_reply_to_status_id,...,favorited,retweeted,possibly_sensitive,possibly_sensitive_appealable,lang,retweeted_status,quoted_status_id,quoted_status_id_str,quoted_status_permalink,quoted_status
0,Tue Aug 01 16:23:56 +0000 2017,892420643555336193,892420643555336193,This is Phineas. He's a mystical boy. Only eve...,False,"[0, 85]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892420639486877696, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",None,...,False,False,False,False,en,NaN,NaN,NaN,NaN,NaN
1,Tue Aug 01 00:17:27 +0000 2017,892177421306343426,892177421306343426,This is Tilly. She's just checking pup on you....,False,"[0, 138]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892177413194625024, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",None,...,False,False,False,False,en,NaN,NaN,NaN,NaN,NaN
2,Mon Jul 31 00:18:03 +0000 2017,891815181378084864,891815181378084864,This is Archie. He is a rare Norwegian Pouncin...,False,"[0, 121]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 891815175371796480, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",None,...,False,False,False,False,en,NaN,NaN,NaN,NaN,NaN
3,Sun Jul 30 15:58:51 +0000 2017,891689557279858688,891689557279858688,This is Darla. She commenced a snooze mid meal...,False,"[0, 79]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 891689552724799489, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",None,...,False,False,False,False,en,NaN,NaN,NaN,NaN,NaN
4,Sat Jul 29 16:00:24 +0000 2017,891327558926688256,891327558926688256,This is Franklin. He would like you to stop ca...,False,"[0, 138]","{'hashtags': [{'text': 'BarkWeek', 'indices': ...","{'media': [{'id': 891327551943041024, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",None,...,False,False,False,False,en,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2326,Mon Nov 16 00:24:50 +0000 2015,666049248165822465,666049248165822465,Here we have a 1949 1st generation vulpix. Enj...,False,"[0, 120]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666049244999131136, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",None,...,False,False,False,False,en,NaN,NaN,NaN,NaN,NaN
2327,Mon Nov 16 00:04:52 +0000 2015,666044226329800704,666044226329800704,This is a purebred Piers Morgan. Loves to Netf...,False,"[0, 137]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666044217047650304, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",None,...,False,False,False,False,en,NaN,NaN,NaN,NaN,NaN
2328,Sun Nov 15 23:21:54 +0000 2015,666033412701032449,666033412701032449,Here is a very happy pup. Big fan of well-main...,False,"[0, 130]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666033409081393153, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",None,...,False,False,False,False,en,NaN,NaN,NaN,NaN,NaN
2329,Sun Nov 15 23:05:30 +0000 2015,666029285002620928,666029285002620928,This is a western brown Mitsubishi terrier. Up...,False,"[0, 139]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666029276303482880, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",None,...,False,False,False,False,en,NaN,NaN,NaN,NaN,NaN
2330,Sun Nov 15 22:32:08 +0000 2015,666020888022790149,666020888022790149,Here we have a Japanese Irish Setter. Lost eye...,False,"[0, 131]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666020881337073664, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",None,...,False,False,False,False,en,NaN,NaN,NaN,NaN,NaN

In [8]:
df_tweet_info.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2331 entries, 0 to 2330
Data columns (total 32 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   created_at                     2331 non-null   object
 1   id                             2331 non-null   object
 2   id_str                         2331 non-null   object
 3   full_text                      2331 non-null   object
 4   truncated                      2331 non-null   object
 5   display_text_range             2331 non-null   object
 6   entities                       2331 non-null   object
 7   extended_entities              2059 non-null   object
 8   source                         2331 non-null   object
 9   in_reply_to_status_id          77 non-null     object
 10  in_reply_to_status_id_str      77 non-null     object
 11  in_reply_to_user_id            77 non-null     object
 12  in_reply_to_user_id_str        77 non-null     object
 13  in_reply_to_screen_name        77 non-null     object
 14  user                           2331 non-null   object
 15  geo                            0 non-null      object
 16  coordinates                    0 non-null      object
 17  place                          1 non-null      object
 18  contributors                   0 non-null      object
 19  is_quote_status                2331 non-null   object
 20  retweet_count                  2331 non-null   object
 21  favorite_count                 2331 non-null   object
 22  favorited                      2331 non-null   object
 23  retweeted                      2331 non-null   object
 24  possibly_sensitive             2197 non-null   object
 25  possibly_sensitive_appealable  2197 non-null   object
 26  lang                           2331 non-null   object
 27  retweeted_status               163 non-null    object
 28  quoted_status_id               26 non-null     object
 29  quoted_status_id_str           26 non-null     object
 30  quoted_status_permalink        26 non-null     object
 31  quoted_status                  24 non-null     object
dtypes: object(32)
memory usage: 665.5+ KB

In [9]:
for row in df_tweet_info.extended_entities:
    print(row)

 'url': 'https://t.co/NMQq6HIglK', 'display_url': 'pic.twitter.com/NMQq6HIglK', 'expanded_url': 'https://twitter.com/dog_rates/status/666428276349472768/photo/1', 'type': 'photo', 'sizes': {'medium': {'w': 521, 'h': 684, 'resize': 'fit'}, 'small': {'w': 518, 'h': 680, 'resize': 'fit'}, 'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'large': {'w': 521, 'h': 684, 'resize': 'fit'}}}]}
{'media': [{'id': 666421153020444674, 'id_str': '666421153020444674', 'indices': [29, 52], 'media_url': 'http://pbs.twimg.com/media/CT-aggCXAAIMfT3.jpg', 'media_url_https': 'https://pbs.twimg.com/media/CT-aggCXAAIMfT3.jpg', 'url': 'https://t.co/YMcrXC2Y6R', 'display_url': 'pic.twitter.com/YMcrXC2Y6R', 'expanded_url': 'https://twitter.com/dog_rates/status/666421158376562688/photo/1', 'type': 'photo', 'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'small': {'w': 510, 'h': 680, 'resize': 'fit'}, 'large': {'w': 768, 'h': 1024, 'resize': 'fit'}, 'medium': {'w': 768, 'h': 1024, 'resize': 'fit'}}}]}
{'media': [{'id': 666418781095260160, 'id_str': '666418781095260160', 'indices': [115, 138], 'media_url': 'http://pbs.twimg.com/media/CT-YWb7U8AA7QnN.jpg', 'media_url_https': 'https://pbs.twimg.com/media/CT-YWb7U8AA7QnN.jpg', 'url': 'https://t.co/qXpcwENTvn', 'display_url': 'pic.twitter.com/qXpcwENTvn', 'expanded_url': 'https://twitter.com/dog_rates/status/666418789513326592/photo/1', 'type': 'photo', 'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'small': {'w': 510, 'h': 680, 'resize': 'fit'}, 'large': {'w': 768, 'h': 1024, 'resize': 'fit'}, 'medium': {'w': 768, 'h': 1024, 'resize': 'fit'}}}]}
{'media': [{'id': 666411498068123649, 'id_str': '666411498068123649', 'indices': [117, 140], 'media_url': 'http://pbs.twimg.com/media/CT-RugiWIAELEaq.jpg', 'media_url_https': 'https://pbs.twimg.com/media/CT-RugiWIAELEaq.jpg', 'url': 'https://t.co/aMCTNWO94t', 'display_url': 'pic.twitter.com/aMCTNWO94t', 'expanded_url': 'https://twitter.com/dog_rates/status/666411507551481857/photo/1', 'type': 'photo', 'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'medium': {'w': 768, 'h': 1024, 'resize': 'fit'}, 'large': {'w': 768, 'h': 1024, 'resize': 'fit'}, 'small': {'w': 510, 'h': 680, 'resize': 'fit'}}}]}
{'media': [{'id': 666407121513275392, 'id_str': '666407121513275392', 'indices': [116, 139], 'media_url': 'http://pbs.twimg.com/media/CT-NvwmW4AAugGZ.jpg', 'media_url_https': 'https://pbs.twimg.com/media/CT-NvwmW4AAugGZ.jpg', 'url': 'https://t.co/LopTBkKa8h', 'display_url': 'pic.twitter.com/LopTBkKa8h', 'expanded_url': 'https://twitter.com/dog_rates/status/666407126856765440/photo/1', 'type': 'photo', 'sizes': {'small': {'w': 640, 'h': 640, 'resize': 'fit'}, 'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'large': {'w': 640, 'h': 640, 'resize': 'fit'}, 'medium': {'w': 640, 'h': 640, 'resize': 'fit'}}}]}
{'media': [{'id': 666396240351993856, 'id_str': '666396240351993856', 'indices': [114, 137], 'media_url': 'http://pbs.twimg.com/media/CT-D2ZHWIAA3gK1.jpg', 'media_url_https': 'https://pbs.twimg.com/media/CT-D2ZHWIAA3gK1.jpg', 'url': 'https://t.co/Dc7b0E8qFE', 'display_url': 'pic.twitter.com/Dc7b0E8qFE', 'expanded_url': 'https://twitter.com/dog_rates/status/666396247373291520/photo/1', 'type': 'photo', 'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'small': {'w': 507, 'h': 680, 'resize': 'fit'}, 'medium': {'w': 764, 'h': 1024, 'resize': 'fit'}, 'large': {'w': 764, 'h': 1024, 'resize': 'fit'}}}]}
{'media': [{'id': 666373746337402880, 'id_str': '666373746337402880', 'indices': [58, 81], 'media_url': 'http://pbs.twimg.com/media/CT9vZEYWUAAlZ05.jpg', 'media_url_https': 'https://pbs.twimg.com/media/CT9vZEYWUAAlZ05.jpg', 'url': 'https://t.co/uHXrPkUEyl', 'display_url': 'pic.twitter.com/uHXrPkUEyl', 'expanded_url': 'https://twitter.com/dog_rates/status/666373753744588802/photo/1', 'type': 'photo', 'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'small': {'w': 510, 'h': 680, 'resize': 'fit'}, 'large': {'w': 768, 'h': 1024, 'resize': 'fit'}, 'medium': {'w': 768, 'h': 1024, 'resize': 'fit'}}}]}
{'media': [{'id': 666362717482020864, 'id_str': '666362717482020864', 'indices': [117, 140], 'media_url': 'http://pbs.twimg.com/media/CT9lXGsUcAAyUFt.jpg', 'media_url_https': 'https://pbs.twimg.com/media/CT9lXGsUcAAyUFt.jpg', 'url': 'https://t.co/XMD9CwjEnM', 'display_url': 'pic.twitter.com/XMD9CwjEnM', 'expanded_url': 'https://twitter.com/dog_rates/status/666362758909284353/photo/1', 'type': 'photo', 'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'medium': {'w': 960, 'h': 720, 'resize': 'fit'}, 'large': {'w': 960, 'h': 720, 'resize': 'fit'}, 'small': {'w': 680, 'h': 510, 'resize': 'fit'}}}]}
{'media': [{'id': 666353280906170368, 'id_str': '666353280906170368', 'indices': [112, 135], 'media_url': 'http://pbs.twimg.com/media/CT9cx0tUEAAhNN_.jpg', 'media_url_https': 'https://pbs.twimg.com/media/CT9cx0tUEAAhNN_.jpg', 'url': 'https://t.co/tltQ5w9aUO', 'display_url': 'pic.twitter.com/tltQ5w9aUO', 'expanded_url': 'https://twitter.com/dog_rates/status/666353288456101888/photo/1', 'type': 'photo', 'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'medium': {'w': 768, 'h': 1024, 'resize': 'fit'}, 'small': {'w': 510, 'h': 680, 'resize': 'fit'}, 'large': {'w': 768, 'h': 1024, 'resize': 'fit'}}}]}
{'media': [{'id': 666345414279471104, 'id_str': '666345414279471104', 'indices': [89, 112], 'media_url': 'http://pbs.twimg.com/media/CT9Vn7PWoAA_ZCM.jpg', 'media_url_https': 'https://pbs.twimg.com/media/CT9Vn7PWoAA_ZCM.jpg', 'url': 'https://t.co/VFKG1vxGjB', 'display_url': 'pic.twitter.com/VFKG1vxGjB', 'expanded_url': 'https://twitter.com/dog_rates/status/666345417576210432/photo/1', 'type': 'photo', 'sizes': {'small': {'w': 382, 'h': 680, 'resize': 'fit'}, 'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'large': {'w': 575, 'h': 1024, 'resize': 'fit'}, 'medium': {'w': 575, 'h': 1024, 'resize': 'fit'}}}]}
{'media': [{'id': 666337857791987715, 'id_str': '666337857791987715', 'indices': [116, 139], 'media_url': 'http://pbs.twimg.com/media/CT9OwFIWEAMuRje.jpg', 'media_url_https': 'https://pbs.twimg.com/media/CT9OwFIWEAMuRje.jpg', 'url': 'https://t.co/QpRjllzWAL', 'display_url': 'pic.twitter.com/QpRjllzWAL', 'expanded_url': 'https://twitter.com/dog_rates/status/666337882303524864/photo/1', 'type': 'photo', 'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'large': {'w': 1024, 'h': 768, 'resize': 'fit'}, 'medium': {'w': 1024, 'h': 768, 'resize': 'fit'}, 'small': {'w': 680, 'h': 510, 'resize': 'fit'}}}]}
{'media': [{'id': 666293909010702337, 'id_str': '666293909010702337', 'indices': [115, 138], 'media_url': 'http://pbs.twimg.com/media/CT8mx7KW4AEQu8N.jpg', 'media_url_https': 'https://pbs.twimg.com/media/CT8mx7KW4AEQu8N.jpg', 'url': 'https://t.co/IIXis0zta0', 'display_url': 'pic.twitter.com/IIXis0zta0', 'expanded_url': 'https://twitter.com/dog_rates/status/666293911632134144/photo/1', 'type': 'photo', 'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'medium': {'w': 460, 'h': 276, 'resize': 'fit'}, 'large': {'w': 460, 'h': 276, 'resize': 'fit'}, 'small': {'w': 460, 'h': 276, 'resize': 'fit'}}}]}
{'media': [{'id': 666287399580733440, 'id_str': '666287399580733440', 'indices': [113, 136], 'media_url': 'http://pbs.twimg.com/media/CT8g3BpUEAAuFjg.jpg', 'media_url_https': 'https://pbs.twimg.com/media/CT8g3BpUEAAuFjg.jpg', 'url': 'https://t.co/d9NcXFKwLv', 'display_url': 'pic.twitter.com/d9NcXFKwLv', 'expanded_url': 'https://twitter.com/dog_rates/status/666287406224695296/photo/1', 'type': 'photo', 'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'medium': {'w': 575, 'h': 762, 'resize': 'fit'}, 'large': {'w': 575, 'h': 762, 'resize': 'fit'}, 'small': {'w': 513, 'h': 680, 'resize': 'fit'}}}]}
{'media': [{'id': 666273081518768128, 'id_str': '666273081518768128', 'indices': [23, 46], 'media_url': 'http://pbs.twimg.com/media/CT8T1mtUwAA3aqm.jpg', 'media_url_https': 'https://pbs.twimg.com/media/CT8T1mtUwAA3aqm.jpg', 'url': 'https://t.co/ws2AMaNwPW', 'display_url': 'pic.twitter.com/ws2AMaNwPW', 'expanded_url': 'https://twitter.com/dog_rates/status/666273097616637952/photo/1', 'type': 'photo', 'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'medium': {'w': 768, 'h': 1024, 'resize': 'fit'}, 'small': {'w': 510, 'h': 680, 'resize': 'fit'}, 'large': {'w': 768, 'h': 1024, 'resize': 'fit'}}}]}
{'media': [{'id': 666268904428277760, 'id_str': '666268904428277760', 'indices': [59, 82], 'media_url': 'http://pbs.twimg.com/media/CT8QCd1WEAADXws.jpg', 'media_url_https': 'https://pbs.twimg.com/media/CT8QCd1WEAADXws.jpg', 'url': 'https://t.co/0yxApIikpk', 'display_url': 'pic.twitter.com/0yxApIikpk', 'expanded_url': 'https://twitter.com/dog_rates/status/666268910803644416/photo/1', 'type': 'photo', 'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'large': {'w': 833, 'h': 907, 'resize': 'fit'}, 'medium': {'w': 833, 'h': 907, 'resize': 'fit'}, 'small': {'w': 625, 'h': 680, 'resize': 'fit'}}}]}
{'media': [{'id': 666104129232740352, 'id_str': '666104129232740352', 'indices': [111, 134], 'media_url': 'http://pbs.twimg.com/media/CT56LSZWoAAlJj2.jpg', 'media_url_https': 'https://pbs.twimg.com/media/CT56LSZWoAAlJj2.jpg', 'url': 'https://t.co/Asgdc6kuLX', 'display_url': 'pic.twitter.com/Asgdc6kuLX', 'expanded_url': 'https://twitter.com/dog_rates/status/666104133288665088/photo/1', 'type': 'photo', 'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'large': {'w': 640, 'h': 430, 'resize': 'fit'}, 'medium': {'w': 640, 'h': 430, 'resize': 'fit'}, 'small': {'w': 640, 'h': 430, 'resize': 'fit'}}}]}
{'media': [{'id': 666102150364286977, 'id_str': '666102150364286977', 'indices': [105, 128], 'media_url': 'http://pbs.twimg.com/media/CT54YGiWUAEZnoK.jpg', 'media_url_https': 'https://pbs.twimg.com/media/CT54YGiWUAEZnoK.jpg', 'url': 'https://t.co/11LvqN4WLq', 'display_url': 'pic.twitter.com/11LvqN4WLq', 'expanded_url': 'https://twitter.com/dog_rates/status/666102155909144576/photo/1', 'type': 'photo', 'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'small': {'w': 680, 'h': 384, 'resize': 'fit'}, 'medium': {'w': 1023, 'h': 577, 'resize': 'fit'}, 'large': {'w': 1023, 'h': 577, 'resize': 'fit'}}}]}
{'media': [{'id': 666099505364733952, 'id_str': '666099505364733952', 'indices': [117, 140], 'media_url': 'http://pbs.twimg.com/media/CT51-JJUEAA6hV8.jpg', 'media_url_https': 'https://pbs.twimg.com/media/CT51-JJUEAA6hV8.jpg', 'url': 'https://t.co/Ri4nMTLq5C', 'display_url': 'pic.twitter.com/Ri4nMTLq5C', 'expanded_url': 'https://twitter.com/dog_rates/status/666099513787052032/photo/1', 'type': 'photo', 'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'medium': {'w': 1024, 'h': 768, 'resize': 'fit'}, 'large': {'w': 1024, 'h': 768, 'resize': 'fit'}, 'small': {'w': 680, 'h': 510, 'resize': 'fit'}}}]}
{'media': [{'id': 666093996847063040, 'id_str': '666093996847063040', 'indices': [109, 132], 'media_url': 'http://pbs.twimg.com/media/CT5w9gUW4AAsBNN.jpg', 'media_url_https': 'https://pbs.twimg.com/media/CT5w9gUW4AAsBNN.jpg', 'url': 'https://t.co/mnioXo3IfP', 'display_url': 'pic.twitter.com/mnioXo3IfP', 'expanded_url': 'https://twitter.com/dog_rates/status/666094000022159362/photo/1', 'type': 'photo', 'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'small': {'w': 510, 'h': 680, 'resize': 'fit'}, 'large': {'w': 768, 'h': 1024, 'resize': 'fit'}, 'medium': {'w': 768, 'h': 1024, 'resize': 'fit'}}}]}
{'media': [{'id': 666082912819875840, 'id_str': '666082912819875840', 'indices': [102, 125], 'media_url': 'http://pbs.twimg.com/media/CT5m4VGWEAAtKc8.jpg', 'media_url_https': 'https://pbs.twimg.com/media/CT5m4VGWEAAtKc8.jpg', 'url': 'https://t.co/3RU6x0vHB7', 'display_url': 'pic.twitter.com/3RU6x0vHB7', 'expanded_url': 'https://twitter.com/dog_rates/status/666082916733198337/photo/1', 'type': 'photo', 'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'medium': {'w': 480, 'h': 640, 'resize': 'fit'}, 'small': {'w': 480, 'h': 640, 'resize': 'fit'}, 'large': {'w': 480, 'h': 640, 'resize': 'fit'}}}]}
{'media': [{'id': 666073098362486784, 'id_str': '666073098362486784', 'indices': [114, 137], 'media_url': 'http://pbs.twimg.com/media/CT5d9DZXAAALcwe.jpg', 'media_url_https': 'https://pbs.twimg.com/media/CT5d9DZXAAALcwe.jpg', 'url': 'https://t.co/Yk6GHE9tOY', 'display_url': 'pic.twitter.com/Yk6GHE9tOY', 'expanded_url': 'https://twitter.com/dog_rates/status/666073100786774016/photo/1', 'type': 'photo', 'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'small': {'w': 680, 'h': 510, 'resize': 'fit'}, 'medium': {'w': 800, 'h': 600, 'resize': 'fit'}, 'large': {'w': 800, 'h': 600, 'resize': 'fit'}}}]}
{'media': [{'id': 666071190449033216, 'id_str': '666071190449033216', 'indices': [114, 137], 'media_url': 'http://pbs.twimg.com/media/CT5cN_3WEAAlOoZ.jpg', 'media_url_https': 'https://pbs.twimg.com/media/CT5cN_3WEAAlOoZ.jpg', 'url': 'https://t.co/ZoL8kq2XFx', 'display_url': 'pic.twitter.com/ZoL8kq2XFx', 'expanded_url': 'https://twitter.com/dog_rates/status/666071193221509120/photo/1', 'type': 'photo', 'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'large': {'w': 577, 'h': 1024, 'resize': 'fit'}, 'small': {'w': 383, 'h': 680, 'resize': 'fit'}, 'medium': {'w': 577, 'h': 1024, 'resize': 'fit'}}}]}
{'media': [{'id': 666063820255862784, 'id_str': '666063820255862784', 'indices': [84, 107], 'media_url': 'http://pbs.twimg.com/media/CT5Vg_wXIAAXfnj.jpg', 'media_url_https': 'https://pbs.twimg.com/media/CT5Vg_wXIAAXfnj.jpg', 'url': 'https://t.co/RhUEAloehK', 'display_url': 'pic.twitter.com/RhUEAloehK', 'expanded_url': 'https://twitter.com/dog_rates/status/666063827256086533/photo/1', 'type': 'photo', 'sizes': {'medium': {'w': 640, 'h': 853, 'resize': 'fit'}, 'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'small': {'w': 510, 'h': 680, 'resize': 'fit'}, 'large': {'w': 640, 'h': 853, 'resize': 'fit'}}}]}
{'media': [{'id': 666058597072306176, 'id_str': '666058597072306176', 'indices': [112, 135], 'media_url': 'http://pbs.twimg.com/media/CT5Qw94XAAA_2dP.jpg', 'media_url_https': 'https://pbs.twimg.com/media/CT5Qw94XAAA_2dP.jpg', 'url': 'https://t.co/pYAJkAe76p', 'display_url': 'pic.twitter.com/pYAJkAe76p', 'expanded_url': 'https://twitter.com/dog_rates/status/666058600524156928/photo/1', 'type': 'photo', 'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'small': {'w': 612, 'h': 612, 'resize': 'fit'}, 'medium': {'w': 612, 'h': 612, 'resize': 'fit'}, 'large': {'w': 612, 'h': 612, 'resize': 'fit'}}}]}
{'media': [{'id': 666057085227016192, 'id_str': '666057085227016192', 'indices': [101, 124], 'media_url': 'http://pbs.twimg.com/media/CT5PY90WoAAQGLo.jpg', 'media_url_https': 'https://pbs.twimg.com/media/CT5PY90WoAAQGLo.jpg', 'url': 'https://t.co/yWBqbrzy8O', 'display_url': 'pic.twitter.com/yWBqbrzy8O', 'expanded_url': 'https://twitter.com/dog_rates/status/666057090499244032/photo/1', 'type': 'photo', 'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'medium': {'w': 540, 'h': 405, 'resize': 'fit'}, 'small': {'w': 540, 'h': 405, 'resize': 'fit'}, 'large': {'w': 540, 'h': 405, 'resize': 'fit'}}}]}
{'media': [{'id': 666055517517848576, 'id_str': '666055517517848576', 'indices': [117, 140], 'media_url': 'http://pbs.twimg.com/media/CT5N9tpXIAAifs1.jpg', 'media_url_https': 'https://pbs.twimg.com/media/CT5N9tpXIAAifs1.jpg', 'url': 'https://t.co/rdivxLiqEt', 'display_url': 'pic.twitter.com/rdivxLiqEt', 'expanded_url': 'https://twitter.com/dog_rates/status/666055525042405380/photo/1', 'type': 'photo', 'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'medium': {'w': 746, 'h': 882, 'resize': 'fit'}, 'small': {'w': 575, 'h': 680, 'resize': 'fit'}, 'large': {'w': 746, 'h': 882, 'resize': 'fit'}}}]}
{'media': [{'id': 666051848592334848, 'id_str': '666051848592334848', 'indices': [115, 138], 'media_url': 'http://pbs.twimg.com/media/CT5KoJ1WoAAJash.jpg', 'media_url_https': 'https://pbs.twimg.com/media/CT5KoJ1WoAAJash.jpg', 'url': 'https://t.co/v5A4vzSDdc', 'display_url': 'pic.twitter.com/v5A4vzSDdc', 'expanded_url': 'https://twitter.com/dog_rates/status/666051853826850816/photo/1', 'type': 'photo', 'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'medium': {'w': 866, 'h': 1024, 'resize': 'fit'}, 'small': {'w': 575, 'h': 680, 'resize': 'fit'}, 'large': {'w': 866, 'h': 1024, 'resize': 'fit'}}}]}
{'media': [{'id': 666050754986266625, 'id_str': '666050754986266625', 'indices': [117, 140], 'media_url': 'http://pbs.twimg.com/media/CT5Jof1WUAEuVxN.jpg', 'media_url_https': 'https://pbs.twimg.com/media/CT5Jof1WUAEuVxN.jpg', 'url': 'https://t.co/fvIbQfHjIe', 'display_url': 'pic.twitter.com/fvIbQfHjIe', 'expanded_url': 'https://twitter.com/dog_rates/status/666050758794694657/photo/1', 'type': 'photo', 'sizes': {'large': {'w': 1024, 'h': 1024, 'resize': 'fit'}, 'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'medium': {'w': 1024, 'h': 1024, 'resize': 'fit'}, 'small': {'w': 680, 'h': 680, 'resize': 'fit'}}}]}
{'media': [{'id': 666049244999131136, 'id_str': '666049244999131136', 'indices': [97, 120], 'media_url': 'http://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg', 'media_url_https': 'https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg', 'url': 'https://t.co/4B7cOc1EDq', 'display_url': 'pic.twitter.com/4B7cOc1EDq', 'expanded_url': 'https://twitter.com/dog_rates/status/666049248165822465/photo/1', 'type': 'photo', 'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'small': {'w': 510, 'h': 680, 'resize': 'fit'}, 'large': {'w': 768, 'h': 1024, 'resize': 'fit'}, 'medium': {'w': 768, 'h': 1024, 'resize': 'fit'}}}]}
{'media': [{'id': 666044217047650304, 'id_str': '666044217047650304', 'indices': [114, 137], 'media_url': 'http://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg', 'media_url_https': 'https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg', 'url': 'https://t.co/DWnyCjf2mx', 'display_url': 'pic.twitter.com/DWnyCjf2mx', 'expanded_url': 'https://twitter.com/dog_rates/status/666044226329800704/photo/1', 'type': 'photo', 'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'medium': {'w': 768, 'h': 1024, 'resize': 'fit'}, 'small': {'w': 510, 'h': 680, 'resize': 'fit'}, 'large': {'w': 768, 'h': 1024, 'resize': 'fit'}}}]}
{'media': [{'id': 666033409081393153, 'id_str': '666033409081393153', 'indices': [107, 130], 'media_url': 'http://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg', 'media_url_https': 'https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg', 'url': 'https://t.co/y671yMhoiR', 'display_url': 'pic.twitter.com/y671yMhoiR', 'expanded_url': 'https://twitter.com/dog_rates/status/666033412701032449/photo/1', 'type': 'photo', 'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'medium': {'w': 1024, 'h': 682, 'resize': 'fit'}, 'small': {'w': 680, 'h': 453, 'resize': 'fit'}, 'large': {'w': 1024, 'h': 682, 'resize': 'fit'}}}]}
{'media': [{'id': 666029276303482880, 'id_str': '666029276303482880', 'indices': [116, 139], 'media_url': 'http://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg', 'media_url_https': 'https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg', 'url': 'https://t.co/r7mOb2m0UI', 'display_url': 'pic.twitter.com/r7mOb2m0UI', 'expanded_url': 'https://twitter.com/dog_rates/status/666029285002620928/photo/1', 'type': 'photo', 'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'medium': {'w': 768, 'h': 1024, 'resize': 'fit'}, 'small': {'w': 510, 'h': 680, 'resize': 'fit'}, 'large': {'w': 768, 'h': 1024, 'resize': 'fit'}}}]}
{'media': [{'id': 666020881337073664, 'id_str': '666020881337073664', 'indices': [108, 131], 'media_url': 'http://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg', 'media_url_https': 'https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg', 'url': 'https://t.co/BLDqew2Ijj', 'display_url': 'pic.twitter.com/BLDqew2Ijj', 'expanded_url': 'https://twitter.com/dog_rates/status/666020888022790149/photo/1', 'type': 'photo', 'sizes': {'medium': {'w': 960, 'h': 720, 'resize': 'fit'}, 'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'large': {'w': 960, 'h': 720, 'resize': 'fit'}, 'small': {'w': 680, 'h': 510, 'resize': 'fit'}}}]}

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [11]:
df.loc[df.in_reply_to_user_id.notnull()]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
30,886267009285017600,8.862664e+17,2.281182e+09,2017-07-15 16:51:35 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@NonWhiteHat @MayhewMayhem omg hello tanner yo...,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
55,881633300179243008,8.816070e+17,4.738443e+07,2017-07-02 21:58:53 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@roushfenway These are good dogs but 17/10 is ...,NaN,NaN,NaN,NaN,17,10,None,None,None,None,None
64,879674319642796034,8.795538e+17,3.105441e+09,2017-06-27 12:14:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@RealKentMurphy 14/10 confirmed,NaN,NaN,NaN,NaN,14,10,None,None,None,None,None
113,870726314365509632,8.707262e+17,1.648776e+07,2017-06-02 19:38:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@ComplicitOwl @ShopWeRateDogs &gt;10/10 is res...,NaN,NaN,NaN,NaN,10,10,None,None,None,None,None
148,863427515083354112,8.634256e+17,7.759620e+07,2017-05-13 16:15:35 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@Jack_Septic_Eye I'd need a few more pics to p...,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2038,671550332464455680,6.715449e+17,4.196984e+09,2015-12-01 04:44:10 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After 22 minutes of careful deliberation this ...,NaN,NaN,NaN,NaN,1,10,None,None,None,None,None
2149,669684865554620416,6.693544e+17,4.196984e+09,2015-11-26 01:11:28 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After countless hours of research and hundreds...,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
2169,669353438988365824,6.678065e+17,4.196984e+09,2015-11-25 03:14:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tessa. She is also very pleased after ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/669353438...,10,10,Tessa,None,None,None,None
2189,668967877119254528,6.689207e+17,2.143566e+07,2015-11-24 01:42:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",12/10 good shit Bubka\n@wane15,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
2298,667070482143944705,6.670655e+17,4.196984e+09,2015-11-18 20:02:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After much debate this dog is being upgraded t...,NaN,NaN,NaN,NaN,10,10,None,None,None,None,None

In [12]:
df.retweeted_status_id.count()

181

In [13]:
df_tweet_info.loc[df_tweet_info.retweeted_status.notna()]

,created_at,id,id_str,full_text,truncated,display_text_range,entities,extended_entities,source,in_reply_to_status_id,...,favorited,retweeted,possibly_sensitive,possibly_sensitive_appealable,lang,retweeted_status,quoted_status_id,quoted_status_id_str,quoted_status_permalink,quoted_status
31,Sat Jul 15 02:45:48 +0000 2017,886054160059072513,886054160059072513,RT @Athletics: 12/10 #BATP https://t.co/WxwJmv...,False,"[0, 50]","{'hashtags': [{'text': 'BATP', 'indices': [21,...",NaN,"<a href=""http://twitter.com/download/iphone"" r...",None,...,False,False,False,False,und,{'created_at': 'Sat Jul 15 02:44:07 +0000 2017...,886053434075471873,886053434075471873,"{'url': 'https://t.co/WxwJmvjfxo', 'expanded':...",NaN
35,Thu Jul 13 01:35:06 +0000 2017,885311592912609280,885311592912609280,RT @dog_rates: This is Lilly. She just paralle...,False,"[0, 133]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 830583314243268608, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",None,...,False,False,False,False,en,{'created_at': 'Sun Feb 12 01:04:29 +0000 2017...,NaN,NaN,NaN,NaN
67,Mon Jun 26 00:13:58 +0000 2017,879130579576475649,879130579576475649,RT @dog_rates: This is Emmy. She was adopted t...,False,"[0, 140]","{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,"<a href=""http://twitter.com/download/iphone"" r...",None,...,False,False,NaN,NaN,en,{'created_at': 'Fri Jun 23 01:10:23 +0000 2017...,NaN,NaN,NaN,NaN
72,Sat Jun 24 00:09:53 +0000 2017,878404777348136964,878404777348136964,RT @dog_rates: Meet Shadow. In an attempt to r...,False,"[0, 140]","{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,"<a href=""http://twitter.com/download/iphone"" r...",None,...,False,False,NaN,NaN,en,{'created_at': 'Fri Jun 23 16:00:04 +0000 2017...,NaN,NaN,NaN,NaN
73,Fri Jun 23 18:17:33 +0000 2017,878316110768087041,878316110768087041,RT @dog_rates: Meet Terrance. He's being yelle...,False,"[0, 140]","{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,"<a href=""http://twitter.com/download/iphone"" r...",None,...,False,False,NaN,NaN,en,{'created_at': 'Tue Nov 24 03:51:38 +0000 2015...,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999,Sat Jun 25 01:52:36 +0000 2016,746521445350707200,746521445350707200,RT @dog_rates: This is Shaggy. He knows exactl...,False,"[0, 140]","{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,"<a href=""http://twitter.com/download/iphone"" r...",None,...,False,False,NaN,NaN,en,{'created_at': 'Sat Nov 21 00:46:50 +0000 2015...,NaN,NaN,NaN,NaN
1019,Fri Jun 17 16:01:16 +0000 2016,743835915802583040,743835915802583040,RT @dog_rates: Extremely intelligent dog here....,False,"[0, 140]","{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,"<a href=""http://twitter.com/download/iphone"" r...",None,...,False,False,NaN,NaN,en,{'created_at': 'Thu Nov 19 00:32:12 +0000 2015...,NaN,NaN,NaN,NaN
1218,Mon Mar 21 19:31:59 +0000 2016,711998809858043904,711998809858043904,RT @twitter: @dog_rates Awesome Tweet! 12/10. ...,False,"[0, 97]","{'hashtags': [{'text': 'LoveTwitter', 'indices...","{'media': [{'id': 711998175234510848, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",None,...,False,False,False,False,en,{'created_at': 'Mon Mar 21 19:29:52 +0000 2016...,NaN,NaN,NaN,NaN
2234,Fri Nov 20 03:51:52 +0000 2015,667550904950915073,667550904950915073,RT @dogratingrating: Exceptional talent. Origi...,False,"[0, 123]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 667548685090197504, 'id_str'...","<a href=""http://twitter.com"" rel=""nofollow"">Tw...",None,...,False,False,False,False,en,{'created_at': 'Fri Nov 20 03:43:06 +0000 2015...,NaN,NaN,NaN,NaN
2235,Fri Nov 20 03:51:47 +0000 2015,667550882905632768,667550882905632768,RT @dogratingrating: Unoriginal idea. Blatant ...,False,"[0, 104]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 667548406944960512, 'id_str'...","<a href=""http://twitter.com"" rel=""nofollow"">Tw...",None,...,False,False,False,False,ro,{'created_at': 'Fri Nov 20 03:41:59 +0000 2015...,NaN,NaN,NaN,NaN

In [14]:
all_columns = pd.Series(list(df) + list(df_image) + list(df_tweet_info))
all_columns[all_columns.duplicated()]

17                 tweet_id
37                   source
38    in_reply_to_status_id
40      in_reply_to_user_id
dtype: object

## ASSESS

### Quality
* Some tweets in the archive are actually replies and/or retweets and duplicated data
* Different column names for the same data (tweet_id vs. id, source)
* df_tweet_info has id and str_id columns
* id columns are not the same name in each table
* The df source column is 90% the same value, and the other values are not informative or relevant (the df_tweet_info table has complete source values)
* The df_tweet_info table has a number of columns with few or no entries(geo, coordinates, place, contributors)
* Data types: retweet_count, favorite_count should be integers, not objects
* Data types: truncated, favorited, retweeted, possibly_sensitive, possibly_sensitive_appealable are type object instead of boolean
* The df_tweet_info display_text_range column is the wrong format (rename to display_text_length and convert current objects to single int values)

### Tidiness

* The doggo, floofer, pupper, and puppo columns are separate, and the column names are variables
* The df_tweet_info entities and extended_entities columns cells contain multiple values

## Clean

In [15]:
'''Create copies of the Dataframes for cleaning'''

clean_df = df.copy()
clean_df_image = df_image.copy()
clean_df_tweet_info = df_tweet_info.copy()

### Some tweets in the archive are actually replies and/or retweets and duplicated data

#### Define

Remove retweets (should be 2175 non-null records, removing 181 rows)

#### Code

In [16]:
clean_df = clean_df[clean_df.retweeted_status_id.isna()]
clean_df.drop(['retweeted_status_id', 'retweeted_status_user_id', 'retweeted_status_timestamp'], axis=1, inplace=True)

#### Test

In [17]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2175 entries, 0 to 2355
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   tweet_id               2175 non-null   int64
 1   in_reply_to_status_id  78 non-null     float64
 2   in_reply_to_user_id    78 non-null     float64
 3   timestamp              2175 non-null   object
 4   source                 2175 non-null   object
 5   text                   2175 non-null   object
 6   expanded_urls          2117 non-null   object
 7   rating_numerator       2175 non-null   int64
 8   rating_denominator     2175 non-null   int64
 9   name                   2175 non-null   object
 10  doggo                  2175 non-null   object
 11  floofer                2175 non-null   object
 12  pupper                 2175 non-null   object
 13  puppo                  2175 non-null   object
dtypes: float64(2), int64(3), object(9)
memory usage: 254.9+ KB

### df_tweet_info has id and id_str columns

#### Define

Remove id_str column, convert other to str type

#### Code

In [18]:
clean_df_tweet_info.drop('id_str', axis=1, inplace=True)
clean_df_tweet_info['id'] = df_tweet_info['id'].astype(str)

#### Test

In [19]:
print(type(clean_df_tweet_info.id[0]))
clean_df_tweet_info.info()

<class 'str'>
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2331 entries, 0 to 2330
Data columns (total 31 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   created_at                     2331 non-null   object
 1   id                             2331 non-null   object
 2   full_text                      2331 non-null   object
 3   truncated                      2331 non-null   object
 4   display_text_range             2331 non-null   object
 5   entities                       2331 non-null   object
 6   extended_entities              2059 non-null   object
 7   source                         2331 non-null   object
 8   in_reply_to_status_id          77 non-null     object
 9   in_reply_to_status_id_str      77 non-null     object
 10  in_reply_to_user_id            77 non-null     object
 11  in_reply_to_user_id_str        77 non-null     object
 12  in_reply_to_screen_name        77 non-null     object
 13  user                           2331 non-null   object
 14  geo                            0 non-null      object
 15  coordinates                    0 non-null      object
 16  place                          1 non-null      object
 17  contributors                   0 non-null      object
 18  is_quote_status                2331 non-null   object
 19  retweet_count                  2331 non-null   object
 20  favorite_count                 2331 non-null   object
 21  favorited                      2331 non-null   object
 22  retweeted                      2331 non-null   object
 23  possibly_sensitive             2197 non-null   object
 24  possibly_sensitive_appealable  2197 non-null   object
 25  lang                           2331 non-null   object
 26  retweeted_status               163 non-null    object
 27  quoted_status_id               26 non-null     object
 28  quoted_status_id_str           26 non-null     object
 29  quoted_status_permalink        26 non-null     object
 30  quoted_status                  24 non-null     object
dtypes: object(31)
memory usage: 647.3+ KB

### ID columns are not the same name and type in each table

#### Define

Rename id columns in all tables to "id" and set type as str

#### Code

In [20]:
clean_df.rename(columns={'tweet_id': 'id'}, inplace=True)
clean_df.id = clean_df.id.astype(str)
clean_df_image.rename(columns={'tweet_id': 'id'}, inplace=True)
clean_df_image.id = clean_df_image.id.astype(str)
clean_df_tweet_info.id = clean_df_tweet_info.id.astype(str)

#### Test

In [21]:
clean_df.id, clean_df_image.id, clean_df_tweet_info.id

(0       892420643555336193
 1       892177421306343426
 2       891815181378084864
 3       891689557279858688
 4       891327558926688256
                ...
 2351    666049248165822465
 2352    666044226329800704
 2353    666033412701032449
 2354    666029285002620928
 2355    666020888022790149
 Name: id, Length: 2175, dtype: object,
 0       666020888022790149
 1       666029285002620928
 2       666033412701032449
 3       666044226329800704
 4       666049248165822465
                ...
 2070    891327558926688256
 2071    891689557279858688
 2072    891815181378084864
 2073    892177421306343426
 2074    892420643555336193
 Name: id, Length: 2075, dtype: object,
 0       892420643555336193
 1       892177421306343426
 2       891815181378084864
 3       891689557279858688
 4       891327558926688256
                ...
 2326    666049248165822465
 2327    666044226329800704
 2328    666033412701032449
 2329    666029285002620928
 2330    666020888022790149
 Name: id, Length: 2331, dtype: object)

### The df_tweet_info table has a number of columns with few or no entries(geo, coordinates, place, contributors) that are not necessary or relevant to this analysis and are so incomplete that they wouldn't be useful to anyone.

#### Define

Remove unnecessary columns

#### Code

In [22]:
clean_df_tweet_info.drop(['geo', 'coordinates', 'place', 'contributors'], axis=1, inplace=True)

#### Test

In [23]:
clean_df_tweet_info.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2331 entries, 0 to 2330
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   created_at                     2331 non-null   object
 1   id                             2331 non-null   object
 2   full_text                      2331 non-null   object
 3   truncated                      2331 non-null   object
 4   display_text_range             2331 non-null   object
 5   entities                       2331 non-null   object
 6   extended_entities              2059 non-null   object
 7   source                         2331 non-null   object
 8   in_reply_to_status_id          77 non-null     object
 9   in_reply_to_status_id_str      77 non-null     object
 10  in_reply_to_user_id            77 non-null     object
 11  in_reply_to_user_id_str        77 non-null     object
 12  in_reply_to_screen_name        77 non-null     object
 13  user                           2331 non-null   object
 14  is_quote_status                2331 non-null   object
 15  retweet_count                  2331 non-null   object
 16  favorite_count                 2331 non-null   object
 17  favorited                      2331 non-null   object
 18  retweeted                      2331 non-null   object
 19  possibly_sensitive             2197 non-null   object
 20  possibly_sensitive_appealable  2197 non-null   object
 21  lang                           2331 non-null   object
 22  retweeted_status               163 non-null    object
 23  quoted_status_id               26 non-null     object
 24  quoted_status_id_str           26 non-null     object
 25  quoted_status_permalink        26 non-null     object
 26  quoted_status                  24 non-null     object
dtypes: object(27)
memory usage: 574.4+ KB

### Data types: clean_df_tweet_info columns retweet_count, favorite_count are object types

#### Define

Convert column types to int

#### Code

In [24]:
clean_df_tweet_info = clean_df_tweet_info.astype({'retweet_count': int, 'favorite_count': int})

#### Test

In [25]:
clean_df_tweet_info.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2331 entries, 0 to 2330
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   created_at                     2331 non-null   object
 1   id                             2331 non-null   object
 2   full_text                      2331 non-null   object
 3   truncated                      2331 non-null   object
 4   display_text_range             2331 non-null   object
 5   entities                       2331 non-null   object
 6   extended_entities              2059 non-null   object
 7   source                         2331 non-null   object
 8   in_reply_to_status_id          77 non-null     object
 9   in_reply_to_status_id_str      77 non-null     object
 10  in_reply_to_user_id            77 non-null     object
 11  in_reply_to_user_id_str        77 non-null     object
 12  in_reply_to_screen_name        77 non-null     object
 13  user                           2331 non-null   object
 14  is_quote_status                2331 non-null   object
 15  retweet_count                  2331 non-null   int64
 16  favorite_count                 2331 non-null   int64
 17  favorited                      2331 non-null   object
 18  retweeted                      2331 non-null   object
 19  possibly_sensitive             2197 non-null   object
 20  possibly_sensitive_appealable  2197 non-null   object
 21  lang                           2331 non-null   object
 22  retweeted_status               163 non-null    object
 23  quoted_status_id               26 non-null     object
 24  quoted_status_id_str           26 non-null     object
 25  quoted_status_permalink        26 non-null     object
 26  quoted_status                  24 non-null     object
dtypes: int64(2), object(25)
memory usage: 574.4+ KB

### Data types: truncated, favorited, retweeted, possibly_sensitive, possibly_sensitive_appealable contain boolean values but are of 
type object

#### Define

Convert column types to boolean

#### Code

In [26]:
clean_df_tweet_info = clean_df_tweet_info.astype({'truncated': bool, 'favorited': bool, 'retweeted': bool, 'possibly_sensitive': bool, 'possibly_sensitive_appealable': bool, 'display_text_range': str})

#### Test

In [27]:
clean_df_tweet_info.dtypes

created_at                       object
id                               object
full_text                        object
truncated                          bool
display_text_range               object
entities                         object
extended_entities                object
source                           object
in_reply_to_status_id            object
in_reply_to_status_id_str        object
in_reply_to_user_id              object
in_reply_to_user_id_str          object
in_reply_to_screen_name          object
user                             object
is_quote_status                  object
retweet_count                     int64
favorite_count                    int64
favorited                          bool
retweeted                          bool
possibly_sensitive                 bool
possibly_sensitive_appealable      bool
lang                             object
retweeted_status                 object
quoted_status_id                 object
quoted_status_id_str             object
quoted_status_permalink          object
quoted_status                    object
dtype: object

### The df_tweet_info display_text_range values are in the format \[Start, End\] and are the wrong dtype

#### Define

Create columns text_start, text_end, and text_length; and convert dtype to int

#### Code

In [28]:
clean_df_tweet_info.display_text_range.sort_values()

1667     [0, 100]
267      [0, 100]
1494     [0, 100]
721      [0, 100]
1002     [0, 100]
          ...
178     [28, 165]
109      [30, 60]
181      [5, 133]
332       [5, 22]
411       [7, 56]
Name: display_text_range, Length: 2331, dtype: object

In [29]:
clean_df_tweet_info.display_text_range = clean_df_tweet_info.display_text_range.astype(str)

In [30]:
temp = clean_df_tweet_info["display_text_range"].str.split(",", expand = True)
clean_df_tweet_info['text_start'] = temp[0].str.replace(r'\D', '', regex=True).astype(int)
clean_df_tweet_info['text_end'] = temp[1].str.replace(r'\D', '', regex=True).astype(int)
clean_df_tweet_info['text_length'] = clean_df_tweet_info.text_end - clean_df_tweet_info.text_start

#### Test

In [31]:
clean_df_tweet_info[['text_start', 'text_end', 'text_length']].describe()

        text_start     text_end  text_length
count  2331.000000  2331.000000  2331.000000
mean      0.152295   111.075933   110.923638
std       1.660050    27.384275    27.615247
min       0.000000    11.000000     5.000000
25%       0.000000    93.000000    93.000000
50%       0.000000   116.000000   116.000000
75%       0.000000   137.000000   137.000000
max      30.000000   165.000000   148.000000

In [32]:
clean_df_tweet_info.text_length.describe(),
check = clean_df_tweet_info.text_length.sort_values()
check

1056      5
393       5
278       6
1889     11
554      13
       ...
1683    144
1770    145
1441    147
1514    147
1342    148
Name: text_length, Length: 2331, dtype: int64

### The doggo, floofer, pupper, and puppo columns are separate, and the column names are variables

#### Define

Concatenate the four columns to one named 'type', using the column names as the variables

#### Code

In [33]:
clean_df[['doggo', 'floofer', 'pupper', 'puppo']].value_counts()

doggo  floofer  pupper  puppo
None   None     None    None     1831
                pupper  None      224
doggo  None     None    None       75
None   None     None    puppo      24
doggo  None     pupper  None       10
None   floofer  None    None        9
doggo  None     None    puppo       1
       floofer  None    None        1
dtype: int64

In [34]:
clean_df['type'] = clean_df.doggo + clean_df.floofer + clean_df.pupper + clean_df.puppo
clean_df['type'] = clean_df.type.str.replace(r'None', '', regex=True)

In [35]:
clean_df.loc[clean_df.type == 'doggopupper', 'type'] = 'pupper'
clean_df.loc[clean_df.type == 'doggopuppo', 'type'] = 'puppo'
clean_df.loc[clean_df.type == 'doggofloofer', 'type'] = 'floofer'
clean_df.drop(['doggo', 'floofer', 'puppo', 'pupper'], axis=1, inplace=True)

#### Test

In [36]:
clean_df.type.value_counts(), clean_df.columns

(           1831
 pupper      234
 doggo        75
 puppo        25
 floofer      10
 Name: type, dtype: int64,
 Index(['id', 'in_reply_to_status_id', 'in_reply_to_user_id', 'timestamp',
        'source', 'text', 'expanded_urls', 'rating_numerator',
        'rating_denominator', 'name', 'type'],
       dtype='object'))

### The clean_df_tweet_info entities and extended_entities columns cells contain multiple values and are duplicated in other columns

#### Define

Drop these two columns

#### Code

In [37]:
clean_df_tweet_info.drop(['entities', 'extended_entities'], inplace=True, axis=1)

#### Test

In [38]:
clean_df_tweet_info.columns

Index(['created_at', 'id', 'full_text', 'truncated', 'display_text_range',
       'source', 'in_reply_to_status_id', 'in_reply_to_status_id_str',
       'in_reply_to_user_id', 'in_reply_to_user_id_str',
       'in_reply_to_screen_name', 'user', 'is_quote_status', 'retweet_count',
       'favorite_count', 'favorited', 'retweeted', 'possibly_sensitive',
       'possibly_sensitive_appealable', 'lang', 'retweeted_status',
       'quoted_status_id', 'quoted_status_id_str', 'quoted_status_permalink',
       'quoted_status', 'text_start', 'text_end', 'text_length'],
      dtype='object')

### Combine tables into one dataset and clean further

In [39]:
df_master = clean_df.merge(clean_df_tweet_info.set_index('id'), on='id', suffixes=('', '_rem'))

In [40]:
df_master = df_master.merge(clean_df_image.set_index('id'), on= 'id', suffixes=('', '_rem'))

In [41]:
'''Iteration: remove further duplicate columns'''

df_master.drop(['retweeted_status', 'quoted_status', 'quoted_status_id', 'quoted_status_id_str', 'quoted_status_permalink', 'in_reply_to_status_id', 'in_reply_to_user_id', 'in_reply_to_screen_name', 'in_reply_to_status_id_rem', 'in_reply_to_user_id_rem', 'source_rem', 'in_reply_to_status_id_str', 'in_reply_to_user_id_str'], axis=1, inplace=True)

In [43]:
'''Iteration: correct column data types'''
df_master.created_at = pd.to_datetime(df_master.created_at)
df_master = df_master.astype({'is_quote_status': bool})

In [44]:
df_master.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1987 entries, 0 to 1986
Data columns (total 36 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   id                             1987 non-null   object
 1   timestamp                      1987 non-null   object
 2   source                         1987 non-null   object
 3   text                           1987 non-null   object
 4   expanded_urls                  1987 non-null   object
 5   rating_numerator               1987 non-null   int64
 6   rating_denominator             1987 non-null   int64
 7   name                           1987 non-null   object
 8   type                           1987 non-null   object
 9   created_at                     1987 non-null   datetime64[ns, UTC]
 10  full_text                      1987 non-null   object
 11  truncated                      1987 non-null   bool
 12  display_text_range             1987 non-null   object
 13  user                           1987 non-null   object
 14  is_quote_status                1987 non-null   bool
 15  retweet_count                  1987 non-null   int64
 16  favorite_count                 1987 non-null   int64
 17  favorited                      1987 non-null   bool
 18  retweeted                      1987 non-null   bool
 19  possibly_sensitive             1987 non-null   bool
 20  possibly_sensitive_appealable  1987 non-null   bool
 21  lang                           1987 non-null   object
 22  text_start                     1987 non-null   int64
 23  text_end                       1987 non-null   int64
 24  text_length                    1987 non-null   int64
 25  jpg_url                        1987 non-null   object
 26  img_num                        1987 non-null   int64
 27  p1                             1987 non-null   object
 28  p1_conf                        1987 non-null   float64
 29  p1_dog                         1987 non-null   bool
 30  p2                             1987 non-null   object
 31  p2_conf                        1987 non-null   float64
 32  p2_dog                         1987 non-null   bool
 33  p3                             1987 non-null   object
 34  p3_conf                        1987 non-null   float64
 35  p3_dog                         1987 non-null   bool
dtypes: bool(9), datetime64[ns, UTC](1), float64(3), int64(8), object(15)
memory usage: 452.1+ KB

In [45]:
df_master.to_csv('twitter_archive_master.csv')